#PostgreSQL в Google Colab

В данном блокноте продемонстрирован ряд навыков работы с базами данных SQL.

В качестве dataset выступает SQL dump с сайта habr.com, содержащий информацию о 232 тысячах постов.


https://www.kaggle.com/leadness/habr-posts?select=dump_28-09-2020_07_41_27.sql

В следующем разделе будет осуществлена установка PostgreSQL в Google Colab и импорт базы данных. Перейти к разделу с анализом содержащихся в ней данных можно по [внутренней ссылке](#Анализ-данных)

##Установка и настройка PostgreSQL. Импорт БД.

Монтируем хранилище Google Drive:

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Необходимый нам файл называется "dump_28-09-2020_07_41_27.sql":

In [4]:
!ls drive/MyDrive/data

dump_28-09-2020_07_41_27.sql	  farmscapes-reviews
dump_28-09-2020_07_41_27.sql.zip  spotify-1922-2021

Устанавливаем PostgreSQL 13 из репозитория разработчиков (Google Colab предоставляет среду на основе дистрибутива GNU/Linux Ubuntu):

In [6]:
!wget -qO- https://www.postgresql.org/media/keys/ACCC4CF8.asc | apt-key add -
!echo "deb http://apt.postgresql.org/pub/repos/apt/ bionic-pgdg main" >/etc/apt/sources.list.d/pgdg.list
!apt -qq update

OK
56 packages can be upgraded. Run 'apt list --upgradable' to see them.

In [8]:
%%capture
!apt -qq install postgresql-13 postgresql-client-13

Запускаем сервис postgresql и импортируем БД:

In [9]:
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

 * Starting PostgreSQL 13 database server
   ...done.
ALTER ROLE

In [10]:
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER" 
!createdb -T postgres habr

CREATE ROLE

In [11]:
!psql habr < drive/MyDrive/data/dump_28-09-2020_07_41_27.sql

SET
SET
SET
ERROR:  cannot drop the currently open database
ERROR:  cannot drop role postgres because it is required by the database system
ERROR:  role "postgres" already exists
ALTER ROLE
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
UPDATE 1
DROP DATABASE
CREATE DATABASE
ALTER DATABASE
You are now connected to database "template1" as user "root".
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
COMMENT
ALTER DATABASE
You are now connected to database "template1" as user "root".
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
REVOKE
GRANT
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
ERROR:  database "habr" already exists
ALTER DATABASE
You are now connected to database "habr" as user "root".
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
SET
SET
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
COPY 447893
COPY 232127
COPY 1054820
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
DROP DATABASE
CREATE DATABASE
ALTER DATABASE
You are now connected to database "postgres" as user "root".
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
COMMENT

Устанавливаем библиотеки, необходимые для осуществления SQL-вызовов из Jupyter Notebook:

In [12]:
!pip install ipython-sql
!pip install sqlalchemy
!pip install psycopg2

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (2.1.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.6.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.5.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.6.4)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.5.0)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)

##Анализ данных

In [13]:
%load_ext sql
from sqlalchemy import create_engine

In [14]:
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

ALTER ROLE

In [15]:
%sql postgresql://postgres:postgres@localhost/habr

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: postgres@habr'

In [16]:
%%sql
SELECT table_name
  FROM information_schema.tables
 WHERE table_schema='public'
   AND table_type='BASE TABLE';

 * postgresql://postgres:***@localhost/habr
3 rows affected.

[('posts',), ('habs',), ('tags',)]

In [17]:
%%sql
SELECT * FROM posts LIMIT 1

 * postgresql://postgres:***@localhost/habr
1 rows affected.

[(365293, 'LinkedIn автоматизировал добавление в профиль сертификатов и дипломов от онлайн-курсов', 'Разработчики LinkedIn объявили о появившейся возможности добавлять в профиль сертификаты и дипломы от онлайн-курсов и университетов нажатием одной кн ... (915 characters truncated) ... ходит прикрутка их в LinkedIn», — сообщает сооснователь Teachbase Владимир Щербаков. \n\nvia, via\n\nОнлайн можно научиться чему угодно, %username%\n', datetime.datetime(2015, 3, 26, 16, 32), 7300, 1, 10, '+8', 'Teachbase')]

In [18]:
%%sql
select table_schema,
       table_name,
       ordinal_position as position,
       column_name,
       data_type,
       case when character_maximum_length is not null
            then character_maximum_length
            else numeric_precision end as max_length,
       is_nullable,
       column_default as default_value
from information_schema.columns
where table_schema not in ('information_schema', 'pg_catalog')
order by table_schema, 
         table_name,
         ordinal_position;

 * postgresql://postgres:***@localhost/habr
13 rows affected.

[('public', 'habs', 1, 'post_id', 'integer', 32, 'NO', '0'),
 ('public', 'habs', 2, 'hab', 'text', None, 'NO', None),
 ('public', 'posts', 1, 'post_id', 'integer', 32, 'NO', None),
 ('public', 'posts', 2, 'title', 'text', None, 'NO', None),
 ('public', 'posts', 3, 'text', 'text', None, 'NO', None),
 ('public', 'posts', 4, 'date', 'timestamp without time zone', None, 'NO', None),
 ('public', 'posts', 5, 'views_count', 'integer', 32, 'NO', None),
 ('public', 'posts', 6, 'comments_count', 'integer', 32, 'NO', None),
 ('public', 'posts', 7, 'bookmarks_count', 'integer', 32, 'NO', None),
 ('public', 'posts', 8, 'rating', 'text', None, 'NO', None),
 ('public', 'posts', 9, 'author_nickname', 'text', None, 'NO', None),
 ('public', 'tags', 1, 'post_id', 'integer', 32, 'NO', '0'),
 ('public', 'tags', 2, 'tag', 'text', None, 'NO', None)]

In [19]:
%%sql
SELECT * FROM habs LIMIT 50;

 * postgresql://postgres:***@localhost/habr
50 rows affected.

[(365293, 'Блог компании Teachbase.ru'),
 (365293, 'Социальные сети и сообщества'),
 (5005, 'Чулан'),
 (125101, 'Блог компании Jelastic'),
 (375301, 'Гаджеты'),
 (375301, 'Софт'),
 (375301, 'Носимая электроника'),
 (375301, 'IT-компании'),
 (130105, 'Oracle'),
 (250201, 'Блог компании Selectel'),
 (380305, 'Блог компании RoboHunter'),
 (380305, 'Компьютерное железо'),
 (380305, 'Робототехника'),
 (380305, 'Видеотехника'),
 (1, 'Habr'),
 (370297, 'Профессиональная литература'),
 (140113, 'Блог компании Фестиваль 404'),
 (370297, 'Научная фантастика'),
 (135109, 'Клиентская оптимизация'),
 (385309, 'Гаджеты'),
 (385309, 'Краудсорсинг'),
 (385309, 'Носимая электроника'),
 (265213, 'Системное администрирование'),
 (265213, '*nix'),
 (15013, 'Чулан'),
 (145117, 'Разработка веб-сайтов'),
 (145117, 'JavaScript'),
 (390313, 'Энергия и элементы питания'),
 (390313, 'Транспорт'),
 (390313, 'Будущее здесь'),
 (395317, 'Блог компании Epson'),
 (25021, 'Чулан'),
 (395317, 'Гаджеты'),
 (150121, 'Виртуализация'),
 (270217, 'Разработка мобильных приложений'),
 (270217, 'Разработка под Android'),
 (20017, 'Чулан'),
 (35029, 'Чулан'),
 (160129, 'Информационная безопасность'),
 (155125, 'DIY или Сделай сам'),
 (405325, 'Научно-популярное'),
 (405325, 'Изучение языков'),
 (410329, 'Блог компании ua-hosting.company'),
 (410329, 'История IT'),
 (410329, 'Старое железо'),
 (170137, 'JavaScript'),
 (170137, 'Node.JS'),
 (425341, 'Блог компании Top 3D Shop'),
 (425341, '3D-принтеры'),
 (415333, 'Математика')]